<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=7">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>$article_title$$PageNO$-$web_name$</title>
<meta name="description" content="$article_description$">
<meta name="keywords" content="$article_keywords$">
<link href="/css/$web_theme$/en_inner.css" rel="stylesheet" type="text/css" />
<link href="/css/$web_theme$/en_common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/en_functions.js"></script>
<script type="text/javascript" src="/images/iepng/iepngfix_tilebg.js"></script>
</head>

<body>
<div id="wrapper">

<!--head start-->
<div id="head">

<!--top start -->
<div class="top">
<div class="TopInfo"><div class="link">Language Selection: <a  href="/">Chinese</a> | <a href="/English">English</a></div>
</div>
<div class="clearfix"></div>
<div class="TopLogo">
<div class="logo"><a href="/"><img src="/images/up_images/$web_image$" alt="$web_name$"></a></div>
<div class="tel">
<p class="telW">HOTLINE</p>
<p class="telN">$web_tel$</p>
</div>
</div>

</div>
<!--top end-->

<!--nav start-->
<div id="NavLink">
<div class="NavBG">
<!--Head Menu Start-->
$web_TopMenu$
<!--Head Menu End-->
</div>
<div class="clearfix"></div>
</div>
<!--nav end-->

</div>
<!--head end-->
<!--body start-->
<div id="body">
<!--focus start-->
<div id="InnerBanner">
$Inner_BannerTop$
</div>
<!--foncus end-->
<div class="HeightTab clearfix"></div>
<!--inner start -->
<div class="inner">
<!--left start-->
<div class="left">
<div class="Sbox">
<div class="topic">$ClassName1$&nbsp;&nbsp;&nbsp;</div>
<div class="blank">$Block_LeftClassList$</div>
</div>
<div class="HeightTab clearfix"></div>
<div class="Sbox">
<div class="topic">What's New&nbsp;&nbsp;&nbsp;</div>
<div class="list">
$Block01_LeftItem$
</div>

</div>
<div class="HeightTab clearfix"></div>
<div class="Sbox">
<div class="topic">Contact Us&nbsp;&nbsp;&nbsp;</div>
<div class="txt ColorLink">
$web_consult$</div>
</div>

<div class="HeightTab clearfix"></div>
<div class="Sbox">
<div class="topic">Search&nbsp;&nbsp;&nbsp;</div>
<div class="SearchBar">
<form method="get" action="$search_FolderName$/index.asp">
				<input type="text" name="q" id="search-text" size="15" onBlur="if(this.value=='') this.value='Input Keywords...';" 
onfocus="if(this.value=='Input Keywords...') this.value='';" value="Input Keywords..." /><input type="submit" id="search-submit" value=" GO " />
			</form>
</div>
</div>
</div>
<!--left end-->
<!--right start-->
<div class="right">
<div class="Position"><span>Your Position: <a href="/English">Home</a> > $category_position$</span></div>
<div class="HeightTab clearfix"></div>
<!--main start-->
<div class="main">

<!--content start-->
<div class="content">
<div class="title"><h3>$article_title$</h3></div>
<div class="infos">$article_time$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;view: <script language="javascript" src="/inc/en_article_view.asp?id=$article_id$"></script></div>
<div class="maincontent clearfix">
$article_content$
$PageList$
</div>
$Article_Downloads$

<div class="prenext">
$article_next$
</div>

</div>

</div>
<!--content end-->

</div>
<!--main end-->
</div>
<!--right end-->
</div>
<!--inner end-->
</div>
<!--body end-->
<div class="HeightTab clearfix"></div>
<!--footer start-->
<div id="footer">
<div class="inner">
$web_BottomHTML$
</div>
</div>
<!--footer end -->


</div>
<script type="text/javascript">
window.onerror=function(){return true;}
</script>
</body>
</html>
<!--
Powered By HuiguerCMS ASP M2013C   
-->





