
/* top start*/
body,td,th {
	font-size: 14px;
}

img, div { behavior: url(/images/iepng/iepngfix.htc); }

body, div, p,img,dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote {
	padding:0px;
	margin:0px;
}
.FontRed{
	color:#FF0000;}
h3{
	font-size:14px;}

li{
	list-style-type:none;}

img{border:0; 
	}
.gray{
	color:#666666;}
a{color:#333333;text-decoration:none;}
a:hover {text-decoration:underline;color:#931916;}
a:active{text-decoration:underline;}

.LineLink a{text-decoration:underline;}
.LineLink a:hover {text-decoration:none;color:#931916;}

.ColorLink a {color:#931916;}
.ColorLink a:hover {color:#931916;}

.WidthTab{
	width:10px;
	height:1px;
	float:left;}
.WidthTab2{
	width:10px;
	height:1px;
	float:left;}	
.HeightTab{
	height:10px;
	width:1px;
	overflow:hidden;}

p{
	line-height:180%;}

.ListDate{
	color:#666666;
	 }
body{
	font-family:"Microsoft Yahei",Arial, Helvetica, sans-serif;
	background:url("/images/HituxCMSClassic/body_bg1.jpg") repeat-x center top;}

#wrapper{
	width:980px;
	margin:auto;
	padding:0px 10px;}
	
#wrapper #head .top{
	width:980px;
	margin:auto;
	height:100px;
	font-size:12px;
	}	
#wrapper #head .top .TopInfo{
	margin:auto;
	width:980px;
	} 
#wrapper #head .top .TopInfo .link{
	text-align:center;
	line-height:23px;
	width:207px;
	float:right;
	color:#999999;}
#wrapper #head .top .TopInfo .link a{
	color:#931916;}	
#wrapper #head .top .TopLogo{
	margin:auto;
	width:980px;
	padding-top:30px;
	}
#wrapper #head .top .TopLogo .logo{
	float:left;
	height:62px;
	width:288px;}

#wrapper #head .top .TopLogo .tel{
	float:right;
	width:250px;
	padding-top:0px;} 
#wrapper #head .top .TopLogo .tel .telW{
	padding-left:30px;
	padding-top:8px;
	color:#666;
	font-size:12px;}	
#wrapper #head .top .TopLogo .tel .telN{
	padding-left:30px;
	font-family:"Times New Roman", Times, serif;
	font-size:22px;
	color:#F90;
	line-height:100%;}


/* navs*/
#wrapper #head #NavLink{
	width:980px;
	height:45px;
	margin:auto;
	}
#wrapper #head #NavLink .NavBG{
	height:45px;
	width:980px;
	position:absolute;
	z-index:100;
	background:#a0171a url("/images/HituxCMSClassic/nav_bg1.png") repeat-x center top;
	}	
		
#wrapper #head #NavLink #sddm{
	width:980px;
	margin:auto;
	z-index:30}

#wrapper #head #NavLink #sddm li{
	float: left;
	font-weight:bold;}
#wrapper #head #NavLink #sddm .CurrentLi a{
	background:none;
	}	
#wrapper #head #NavLink #sddm li a
{	display: block;
	width: 98px;
	color: #FFF;
	text-align: center;
	padding:0 5px;
	line-height:45px;
	font-size:14px;
	}

#wrapper #head #NavLink #sddm li a:hover
{	text-decoration:none;
	background:url("/images/HituxCMSClassic/nav_bg2.png") repeat-x center top;
	color:#FFFFFF;
	}

#wrapper #head #NavLink #sddm div
{	position: absolute;
	visibility: hidden;
	padding:0px 0px;
	}

#wrapper #head #NavLink #sddm div a
	{	position: relative;
		padding: 0px 5px;
		text-align: center;
		color: #FFF;
		width:150px;
		font-size:12px;
		font-weight:normal;
		text-decoration:none;
		line-height:30px;
		border-top:1px solid #8c1417;
		background-color:#a0171a;}

#wrapper #head #NavLink #sddm div a:hover{
	background:url("/images/HituxCMSClassic/nav_bg2.png") repeat-x center top;
	color:#FFFFFF;
	font-weight:bold;}

	
#wrapper #body{
	margin:auto;
	width:100%;
	}
	
	
/*Focus*/
#FocusBG{
	width:100%;
	height:300px;
	}

#Focus {width:980px; height:300px; overflow:hidden; position:relative;margin:auto;}
#Focus ul {height:380px; position:absolute;}
#Focus ul li {float:left; width:980px; height:300px; overflow:hidden; position:relative; background:#000;}
#Focus ul li div {position:absolute; overflow:hidden;}
#Focus .btnBg {position:absolute; width:980px; height:20px; left:0; bottom:0; }
#Focus .btn {position:absolute; width:960px; height:10px; padding:5px 10px; right:0px; bottom:10px; text-align:right;}
#Focus .btn span {display:inline-block; _display:inline; _zoom:1; width:20px; height:5px; _font-size:0; margin-left:5px; cursor:pointer; background:#fff;}
#Focus .btn span.on {background:#fff;}
#Focus .preNext {width:45px; height:100px; position:absolute; top:90px;  cursor:pointer;}
#Focus .pre {left:0;}
#Focus .next {right:0; background-position:right top;}	

#InnerFocus #FocusBG{
	height:0px;}

	
/* albumblock*/

 .albumblock{
	padding:10px 10px 30px 12px;
	float:left;
	}
 .albumblock .inner{
	width:170px;
	height:170px;
	position:relative;
	border:1px solid #dededc;
	overflow:hidden;
	margin:0}

.albumblock .inner img{
	border:2px solid #fff;
	width:166px;
	height:166px;	}	

 .albumblock .inner .albumtitle{
	height:25px;
	line-height:25px;
	font-size:12px;
	width:170px;
	background:#931916;
	position:relative;
	bottom:0px;
	left:0;
	color:#FFFFFF;
	font-weight:; 
	text-align:center;
	cursor:pointer;
	margin:auto;
	}
 .albumblock .inner .albumtitle span{
	font-weight:normal;
	font-size:12px;}	

 .albumblock .inner  a:hover{
	text-decoration:none;}
 .albumblock .inner  a:visited{
	text-decoration:none;}	
		
	

/*footer*/
#footer{
	border-top:2px solid #a0171a;
	width:980px;
	height:100%;
	margin:auto;
	padding-bottom:30px;
	font-size:11px;
	color:#666;
	background:url("/images/hituxcmsclassic/top_bg1.jpg") repeat-x left top;
	}
#footer a{
	color:#666;}										
#footer .inner{
	margin:auto;
	width:980px;
	padding-top:20px;
	text-align:center;}
#footer .inner p{
	line-height:25px;}

#wrapper  .t_page{
	padding:10px;
	text-align:center;
	font-size:12px;
	line-height:25px;
	
	}	
#wrapper  .t_page a{
	padding:2px 5px;
	border:1px solid #DEDEDC;
	margin:0px 3px;}	


/* date css*/		
 .header {font: 12px Arial, Tahoma !important;font-weight: bold !important;font: 11px Arial, Tahoma;font-weight: bold;color: #154BA0;background:#C2DEED;height: 25px;padding-left: 10px;
}
 .header td {padding-left: 10px;}
 .header a {color: #154BA0;}
 .header input {background:none;vertical-align: middle;height: 16px;}
 .category {font: 12px Arial, Tahoma !important;font: 11px Arial, Tahoma;color: #92A05A;height:20px;background-color: #FFFFD9;}
 .category td {border-bottom: 1px solid #DEDEB8;}
 .expire, .expire a:link, .expire a:visited {color: #999999;}
 .default, .default a:link, .default a:visited {color: #000000;}
 .checked, .checked a:link, .checked a:visited {color: #FF0000;}
 .today, .today a:link, .today a:visited {color: #00BB00;}
 #calendar_year {display: none;line-height: 130%;background: #FFFFFF;position: absolute;z-index: 10;}
 #calendar_year .col {float: left;background: #FFFFFF;margin-left: 1px;border: 1px solid #86B9D6;padding: 4px;}
 #calendar_month {display: none;background: #FFFFFF;line-height: 130%;border: 1px solid #86B9D6;padding: 4px;position: absolute;z-index: 11;}
 #year,#month{padding:0 10px;background:#fff;}	


/* SearchBar */

.SearchBar {
	padding:10px 10px 0px 13px;
}

.SearchBar #search-text {
	width: 140px;
	padding:0px 5px;
	border: 1px solid #931916;
	margin:0px;
	color:#999999;
	height:23px;
	line-height:23px;
	font-size:12px;
}

.SearchBar #search-submit {
	border:none;
	background: #931916;
	font-size:12px;
	color: #FFFFFF;
	height:25px;
	margin:0px;	
	cursor:pointer;
	padding:0px;
	line-height:25px;
}

/* search content */
#search_content .searchtip{
	line-height:25px;
	font-size:14px;
	font-weight:bold;
	padding-left:10px;
	BORDER-bottom: #023848 1px solid;
	padding-top:10px;
}

#search_content .result_list{
	padding:10px 10px;
	width:100%;}
	
#search_content .result_list dt{
	font-size:14px;
	font-weight:bold;
	padding-top:10px;
	line-height:25px;
	font-family:Microsoft Yahei;}	

#search_content .result_list dd{
	padding:0 0 5px 0;
	margin:0px;
	line-height:20px;
	}	

#search_content .result_list .line {
	BORDER-bottom: #E9E8E8 1px dashed;}	

#search_content .result_list .line a{
	padding-right:20px;}

#search_content .result_list .line a:hover{
	text-decoration:none;}			
	
#search_content .search_welcome{
	line-height:25px;
	text-align:center;
	}
#search_content .search_welcome p{
	text-align:center;}		
#search_content .result_page{
	text-align:center;
	font-size:13px;
	padding:10px;}

#search_content .result_page span{
	font-size:12px;
	font-family:arial;
	padding:0 5px;
	}	

#dark_footer .box_240px_left {
	width:143px;
	padding-right: 42px;
	padding-top: 0px;
	background-image: none;
	padding-bottom:0px;
	float:left;
}
#dark_footer .box_240px_left h2{
	font-size:14px;
	border-bottom:1px dotted #999;
	color:#FFF;
	padding-bottom:10px;}
#dark_footer .box_240px_left li{
	line-height:250%;
	font-size:12px;}
#dark_footer .box_240px_middle {
	padding: 0px 42px;
	background-image: none;
}
#dark_footer .box_240px_right {
	padding-left: 42px;
	padding-top: 0px;
	background-image: none;
}
#dark_footer_wrap {
	background-color:#931916;
	overflow: hidden;
	padding:20px 0px;
}
#dark_footer {
	width: 940px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	overflow: hidden;
	color#FFF;
}
#light_footer_wrapper {
	font-size:12px;
	padding:10px;
	height:100px;
	
}
.box_240px_right li {
	display: inline;
}
#dark_footer li a{
	color:#FFF;}

/*product*/
.RightNav{
	padding-top:7px;}
 .ClassNav{
	padding:0px 10px;
	font-size:12px;}
	
 .ClassNav .NavTree ul{
}
	
 .ClassNav .NavTree ul li{
position: relative;
z-index:1000;
}
	
/*1st level sub menu style */
 .ClassNav .NavTree ul li ul{
left: 198px; /* Parent menu width - 1*/
position: absolute;
width: 160px; /*sub menu width*/
top: 0;
display: none;
border:1px solid #931916;
border-top:2px solid #931916;
background:#FFFFFF;
filter:progid:DXImageTransform.Microsoft.Shadow(Color=#999999, Strength=3, Direction=135);
}
.RightNav .ClassNav .NavTree ul li ul{
	}


/*All subsequent sub menu levels offset */
 .ClassNav .NavTree ul li ul li ul{ 
left: 159px; /* Parent menu width - 1*/
z-index:100px;}
/* menu links style */
 .ClassNav .NavTree ul li a{
	display: block;
	cursor:pointer;
	line-height:35px;
	border-bottom:1px dotted #DDDDDD;
	padding-left:10px;
	height:35px;}
.RightNav .ClassNav .NavTree ul li a{
	height:34px;
	line-height:34px;}
	
 .ClassNav .NavTree ul li li{
	background:url("/images/HituxCMSClassic/box_icon1.png") no-repeat 12px 12px;
	padding-left:0;
	text-align:center;
}
 .ClassNav .NavTree ul li li a{
	border-bottom:1px solid #DDDDDD;
	}
 .ClassNav .NavTree ul .current a{
	background:#931916;
	color:#FFFFFF;}
 .ClassNav .NavTree ul .current li a{
	background:#FFFFFF;
	color:#000000;}
		
 .ClassNav .NavTree ul li a:hover{
color: white;
background:#931916;
text-decoration:none;
}
 .ClassNav .NavTree .subfolderstyle{
background: url(/images/HituxCMSClassic/arrow-list.gif) no-repeat 150px center ;
}
/* Holly Hack for IE \*/
* html  .ClassNav .NavTree ul li { float: left; height: 1%; }
* html  .ClassNav .NavTree ul li a { height: 1%; }
/* End */	




/*service*/
.qqbox a:link {
	color: #000;
	text-decoration: none;
}
.qqbox a:visited {
	color: #000;
	text-decoration: none;
}
.qqbox a:hover {
	color: #f80000;
	text-decoration: underline;
}
.qqbox a:active {
	color: #f80000;
	text-decoration: underline;
}
.qqbox {
	width:132px;
	height:auto;
	overflow:hidden;
	position:absolute;
	right:0;
	top:200px;
	color:#000000;
	font-size:12px;
	letter-spacing:0px;
	z-index:500;
}
.qqlv {
	width:33px;
	height:256px;
	overflow:hidden;
	position:relative;
	float:right;
	z-index:50px;
}
.qqkf {
	width:120px;
	height:auto;
	overflow:hidden;
	right:0;
	top:0;
	z-index:99px;
	border:6px solid #cc0000;
	background:#fff;
}
.qqkfbt {
	width:118px;
	height:20px;
	overflow:hidden;
	background:#cc0000;
	line-height:20px;
	font-weight:bold;
	color:#fff;
	position:relative;
	border:1px solid #fff;
	cursor:pointer;
	text-align:center;
}
.qqkfhm {
	width:112px;
	height:22px;
	overflow:hidden;
	line-height:22px;
	padding-right:8px;
	position:relative;
	margin:3px 0;
}
.bgdh {
	width:102px;
	padding-left:10px;
}
#K1 {
	padding-left:3px;
}
#K1 p{
	padding:5px 0px;}	

/* clearfix */
.clearfix:after{
	content:" ";
	display:block;
	visibility:hidden;
	height:0;
	clear:both;
}
.clearfix {
	clear:both;
}
.clearbox {
	clear:both; 
	width:996px; 
	margin:0 auto; 
	height:0; 
	overflow:hidden;}
.clear { 
	height:1%; 
	overflow:hidden; }