/*<body>*/
body {
	background-color:{SQL_调用颜色(整站背景颜色)}; 
	color:{SQL_调用颜色(整站字体颜色)};
	margin:0px auto; padding:0;
	font-size:16px;
}
a,a:link,a:visited,a:hover,a:active {
	font-size: 16px;
	color:{SQL_调用颜色(整站链接颜色)};
	text-decoration: none;
}
.nav { background:{SQL_调用颜色(主导航背景颜色)}; height:90px;}
.nav li{ float:left; width:33.33%; height:45px; padding:0; overflow:hidden;}
.nav a{display:block; height:44px; padding:0; text-align:center; line-height:45px; color:{SQL_调用颜色(主导航链接颜色)};overflow:hidden;)}; border-bottom:1px solid {SQL_调用颜色(主导航间隔线颜色)}; border-right:1px solid {SQL_调用颜色(主导航间隔线颜色)};}
.nav a:link,.nav a:visited,.nav a:hover,.nav a:active {color:{SQL_调用颜色(主导航链接颜色)};}
.nav_a { background:{SQL_调用颜色(二级导航背景色)};}
.nav_a li{ float:left; width:33.33%; height:40px; padding:0; overflow:hidden;}
.nav_a a{display:block; height:39px; padding:0; text-align:center; line-height:40px; color:{SQL_调用颜色(二级导航字体色)}; border-bottom:1px solid {SQL_调用颜色(二级导航间隔线颜色)}; border-right:1px solid {SQL_调用颜色(二级导航间隔线颜色)};}
.title{ height:35px; background:{SQL_调用颜色(通栏导航整体颜色)}; line-height:35px; clear:both; border-bottom: 1px solid {SQL_调用颜色(通栏导航下划线颜色)}; }
.title a{ color:{SQL_调用颜色通栏导航字体颜色()};}
.title .y{ display:block; float:left; padding:0 10px; background:{SQL_调用颜色(通栏导航字体背景)}; color:{SQL_调用颜色(通栏导航字体颜色)};}
.title .zixun{ float:right; padding:8px 10px 0 0;}
.foot_nav{ height:30px; line-height:30px; text-align:center;}
.foot_nav ,.foot_nav a,.g_zixun a{  padding:0 3px; color:{SQL_调用颜色(主导航链接颜色)}; }
.g_zixun{position: fixed; bottom:0; width:100%; }
.foot_nav,.g_zixun{background:{SQL_调用颜色(主导航背景颜色)};}
/*</body>*/