<xml xmlns:s="uuid:BDC6E3F0-6DA3-11d1-A2A3-00AA00C14882" xmlns:dt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882" xmlns:rs="urn:schemas-microsoft-com:rowset" xmlns:z="#RowsetSchema">
	<rs:data>
		<z:row api_enable="false" api_conformkey="#" api_urls="#" api_debug="false" api_loginurl="0" api_reguserurl="0" api_logouturl="0" api_quicklogin="false" api_groupid="" api_qqenable="true" api_qqappid="100237471" api_qqappkey="079a807df213d2d8d4578e1f0552e862" api_qqcallback="#" api_alipayenable="true" api_alipaypartner="2088002171003062" api_alipaykey="ftonb3nu1t7ybistoog0l17v2e136n37" api_alipayreturnurl="#" api_sinaenable="true" api_sinakey="0fdd774419a99c1150ace5f5338fd0a8" api_sinaid="1926791899" api_sinacallback="#"></z:row>
	</rs:data>
</xml>
