A {
	COLOR: black; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
BODY {
	FONT-SIZE: 75%; FONT-FAMILY: "Arial", "ו"
}
TD {
	FONT-SIZE: 9pt
}
INPUT.buttonface {
	BORDER-RIGHT: #636563 1px solid; BORDER-TOP: #636563 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND: #cccccc; BORDER-LEFT: #636563 1px solid; COLOR: #000000; LINE-HEIGHT: normal; BORDER-BOTTOM: #636563 1px solid; FONT-STYLE: normal; HEIGHT: 18px; FONT-VARIANT: normal
}
INPUT.smallInput {
	BORDER-RIGHT: #636563 1px solid; BORDER-TOP: #636563 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BORDER-LEFT: #636563 1px solid; LINE-HEIGHT: normal; BORDER-BOTTOM: #636563 1px solid; FONT-STYLE: normal; HEIGHT: 18px; FONT-VARIANT: normal
}
.dixian {  border-color: black black #CC99CC; border-style: dashed; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px}


