<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<link rel="stylesheet" type="text/css" href="{$GetInstallDir}imag/css.css">
<title>{$GetClassName}-{$GetSiteName}</title>
<meta name="keywords" content="{$GetClass_Meta_KeyWord}{$GetMetaKeyWord}">
<meta name="description" content="{$GetClass_Meta_Description}{$GetMetaDescript}">

</head>

<body>
{LB_头部}
<div class="bn"><a href="{$GetClassUrl}">{$GetClassPic}</a></div>
<div class="title">{$GetClassName}</div>
<h1>{$GetArticleTitle}</h1>
<div class="text">
<table width="100%" border="0" cellspacing="2" cellpadding="1">
<form method="post" action="{$GetInstallDir}plus/form.asp" name="myform">
<input type="hidden" name="action" value="Save">
<input type="hidden" name="id" value="5">
<input type="hidden" name="m" value="0">
<input type="hidden" name="d" value="0">
 <tr class="tdbg">
  <td align="right" class="lefttdbg">称呼：</td>
  <td><input type="text" maxlength="255" class="upfile" style="width:100px" name="KS_name" value=""><font color="red"> * </font>  </td>
</tr>
 <tr class="tdbg">
  <td align="right" class="lefttdbg">手机：</td>
  <td><input type="text" maxlength="255" class="upfile" style="width:100px" name="KS_mobile" value=""><font color="red"> * </font>  </td>
</tr>
 <tr class="tdbg">
  <td align="right" class="lefttdbg">Q Q ：</td>
  <td><input type="text" maxlength="255" class="upfile" style="width:100px" name="KS_QQ" value="">  </td>
</tr>
 <tr class="tdbg">
  <td align="right" class="lefttdbg">邮箱：</td>
  <td><input type="text" maxlength="255" class="upfile" style="width:100px" name="KS_Email" value="">  </td>
</tr>
 <tr class="tdbg">
  <td align="right" class="lefttdbg">留言：</td>
  <td><textarea style="width:160px;height:100px" rows="5" name="KS_liuyan"></textarea><font color="red"> * </font>  </td>
</tr>
<tr class="tdbg"><td class="lefttdbg" align="right">验证：</td><td><input name="Verifycode" type="text" name="textbox" size=5><span style="color:#999">请输入下图中的字符</span><br/><IMG style="cursor:pointer" src="{$GetInstallDir}plus/verifycode.asp" onClick="this.src='{$GetInstallDir}plus/verifycode.asp?n='+ Math.random();" align="absmiddle"></td></tr>
<tr><td colspan="2" class="subtdbg" align="center"><input type="submit" value="提交" name="submit1"></td></tr>
</form>
</table>
</div>

{LB_底部}
<script type="text/javascript" src="{$GetInstallDir}imag/jquery-1.js"></script>
<script type="text/javascript" src="{$GetInstallDir}imag/swipeSlide.js"></script>
<script type="text/javascript" src="{$GetInstallDir}imag/common.js"></script>
<script type="text/javascript">
var slider = new Swipe(document.getElementById('touchBox'), {
    startSlide: 0,
    speed: 500,
    auto: 2500, 
    callback: function(event, index, elem) { 
		var i = bullets.length;
					while (i--) {
						bullets[i].className = '';
					}
					bullets[index].className = 'cur'; 
    } 
}),bullets = document.getElementById('position').getElementsByTagName('li');

$(document).ready(function(){$("#indexcase").tab({tabId:"#tech",tabTag:"li",conId:"#touchCase",conTag:"dd",act:"click",effact: "scrollx",  auto:true});});
</script>
</body>
</html>
