<xml xmlns:s="uuid:BDC6E3F0-6DA3-11d1-A2A3-00AA00C14882" xmlns:dt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882" xmlns:rs="urn:schemas-microsoft-com:rowset" xmlns:z="#RowsetSchema">
	<rs:data>
		<z:row id="0" bshare_open="false" bshare_uuid="" bshare_secret="" bshare_password="" bshare_domain="" bshare_username=""></z:row>
	</rs:data>
</xml>
