<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=7">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>$web_title$</title>
<meta name="keywords" content="$web_keywords$" />
<meta name="description" content="$web_description$" />
<link href="/css/$web_theme$/style.css" rel="stylesheet" type="text/css" />
<link href="/css/$web_theme$/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/functions.js"></script>
<script type="text/javascript" src="/js/FocusSlide.js"></script>
<script type="text/javascript" src="/js/ScrollPic.js"></script>
<script type="text/javascript" src="/images/iepng/iepngfix_tilebg.js"></script>
</head>

<body>
<div id="wrapper">

<!--head start-->
<div id="head">

<!--top start -->
<div class="top">
<div class="TopInfo"><div class="link">选择语言：<a  href="javascript:zh_tran('s');" class="zh_click" id="zh_click_s">简体中文</a> | <a href="javascript:zh_tran('t');" class="zh_click" id="zh_click_t">繁體中文</a> | <a href="/English">English</a></div>
</div>
<div class="clearfix"></div>
<div class="TopLogo">
<div class="logo"><a href="/"><img src="/images/up_images/$web_image$" alt="$web_name$"></a></div>
<div class="tel">
<p class="telW">24小时客服热线</p>
<p class="telN">$web_tel$</p>
</div>
</div>

</div>
<!--top end-->

<!--nav start-->
<div id="NavLink">
<div class="NavBG">
<!--Head Menu Start-->
$web_TopMenu$
<!--Head Menu End-->
</div>
<div class="clearfix"></div>
</div>
<!--nav end-->
<!--focus start-->
<div id="FocusBG">
<div id="Focus">
<ul>
$web_TopIMGAD$</ul>
</div>
</div>
<!--foncus end-->
<div class="HeightTab clearfix"></div>

</div>
<!--head end-->
<!--body start-->
<div id="body">
<!--MainBlock start-->
<div class="MainBlock">
<!--left start-->
<div class="right">
<div class="topic">
<div class="TopicTitle"><a href="/$WebAboutFolderName$">$WebAboutName$</a></div>
<div class="TopicMore"> <a  href='/$WebAboutFolderName$'><img src="images/more.png"></a></div>
</div>
<div class='img'><a href='/$WebAboutFolderName$' target='_blank'><img src='/images/Up_Images/$WebAboutImage$' width='200' height='100' alt='$WebAboutName$'></a></div><div class='txt ColorLink'><p>
$WebAboutContent$...<a href='/$WebAboutFolderName$' target='_blank'>详细>></a></p></div>
<div class=" clearfix"></div>

</div>
<!--left end-->
<div class='WidthTab2'></div>

<!--right start-->
<div class="left">
<div class="topic">
<div class="TopicTitle"><a  href='/$WebNewNewsFolderName$'>$WebNewNewsName$</a></div>
<div class="TopicMore"> <a  href='/$WebNewNewsFolderName$'><img src="images/more.png"></a></div>
</div>
<div class='clearfix'></div>
<table class="MBlockTable" width="100%" border="0" cellspacing="0" cellpadding="0">
<ul>$WebNewNewsList$
</ul>
  </table>
</div>
<!--right end-->

<!--right2 start-->
<div class="right2">
<div class="topic">
<div class="TopicTitle"><a  href='/contact'>联系方式</a></div>
<div class="TopicMore"> <a  href='/contact'><img src="images/more.png"></a></div>
</div>
<div class='img'><a href='/contact' target='_blank'><img src='/images/join.jpg' width='233' height='100' alt='联系方式'></a></div><div class="txt ColorLink">
$web_consult$</div>

<div class=" clearfix"></div>


</div>
<!--right2 end-->
<div class="clearfix"></div>

</div>
<!--MainBlock end-->

<div class="HeightTab2 clearfix"></div>

<!--MainBlock3 start-->
<div class="MainBlock3">
<!--right start-->
<div class="left">

<div class="TabBlock">
<div class="menu">
<ul>
$Block03_LeftItem_Title$
</ul>
</div>
$Block03_LeftItem$

</div>

</div>
<!--right end-->

<div class="clearfix"></div>

</div>
<!--MainBlock end-->
<!--links start-->
<div id="Links">
<span>友情链接：</span>$web_link$
  
</div>
<!--links end-->

</div>
<!--body end-->
<div class="HeightTab clearfix"></div>
<!--footer start-->
<div id="footer">
<div class="inner">
$web_BottomHTML$
</div>
</div>
<!--footer end -->


</div>
<script type="text/javascript" src="/js/TabShow.js" ></script>
<script type="text/javascript">
window.onerror=function(){return true;}
</script>
</body>
</html>
<!--
Powered By huiguerCMS ASP V2.O   
-->





