<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=7">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>$web_title$</title>
<meta name="keywords" content="$web_keywords$" />
<meta name="description" content="$web_description$" />
<link href="/css/$web_theme$/style.css" rel="stylesheet" type="text/css" />
<link href="/css/$web_theme$/inner.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/functions.js"></script>
<script type="text/javascript" src="/js/ScrollPic.js"></script>
<script type="text/javascript" src="/images/iepng/iepngfix_tilebg.js"></script>
<!--[if lt IE 9]>
	<script type="text/javascript" src="/js/html5.js"></script>
<![endif]-->
<!--[if lt IE 7]>
	<div style='clear:both;text-align:center;position:relative'>
		<a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg" border="0" alt="" /></a>
	</div>
<![endif]-->
<style>
.links a{padding:10px; color:#333333;width:950px;}
</style>
</head>
<body id="page1">
<div class="body1">
	<div class="body2">
		<div class="body3">
			<div class="mains">
<!-- header -->
				<header>
					<div class="wrapper">
<div class="logo"><a href="/"><img src="/images/up_images/$web_image$" alt="$web_name$"></a></div>
 <!--nav start-->
<div id="NavLink">
<div class="NavBG">
<!--Head Menu Start-->
$web_TopMenu$
<!--Head Menu End-->
</div>
<div class="clearfix"></div>
</div>
<!--nav end-->
<div class="clearfix"></div>
 					</div>
						<div id="gallery">

<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="970" height="347">
  <param name="movie" value="imageshow.swf" />
  <param name="quality" value="high" />
   <param name="wmode" value="transparent" />
 <embed src="imageshow.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="970" height="347" wmode="transparent"></embed>
</object> 

						</div>
				</header><div class="ic"> </div>	
<!-- / header-->
<!-- content -->
				<section id="contents">
					<div class="line1">
						<div class="line2 wrapper">
							<div class="wrapper">
								<article class="col1">
									<h2>$WebAboutName$ <span>$WebAboutFolderName$</span></h2>
									<figure><img src="/images/Up_Images/$WebAboutImage$" alt="$WebAboutName$" class="pad_bot1"></figure>
									<div class="pad">
										<p>$WebAboutContent$...</p>
									</div>
								</article>
								$WebNewNewsList$
								
							</div>
							<div class="wrapper buttons">
								<article class="col1">
									<a href="$WebAboutFolder$" class="button">了解更多</a>
								</article>
								<article class="col2 pad_left1">
									<a href="$WebNewNewsFolder$" class="button">了解更多</a>
								</article>
								<article class="col3 pad_left1">
									<a href="$WebNewNewsFolder$" class="button">了解更多</a>
								</article>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
<div class="body4">
	<div class="mains">
		<section id="content2">
			<div class=" wrapper">
				<div class="wrapper">
 						<h2>$WebProductName$ <span>$WebProductFolderName$</span></h2>
						
<DIV class="blk_29">
<DIV class="LeftBotton" id="LeftArr"></DIV>
<DIV class="Cont" id="ISL_Cont_1"><!-- 图片列表 begin -->
$Block03_LeftItem$

<!-- 图片列表 end --></DIV>

<DIV class="RightBotton" id="RightArr"></DIV>
</DIV>
<SCRIPT language=javascript type=text/javascript>
		<!--//--><![CDATA[//><!--
		var scrollPic_02 = new ScrollPic();
		scrollPic_02.scrollContId   = "ISL_Cont_1"; //内容容器ID
		scrollPic_02.arrLeftId      = "LeftArr";//左箭头ID
		scrollPic_02.arrRightId     = "RightArr"; //右箭头ID

		scrollPic_02.frameWidth     = 888;//显示框宽度
		scrollPic_02.pageWidth      = 888; //翻页宽度

		scrollPic_02.speed          = 3; //移动速度(单位毫秒，越小越快)
		scrollPic_02.space          = 50; //每次移动像素(单位px，越大越快)
		scrollPic_02.autoPlay       = true; //自动播放
		scrollPic_02.autoPlayTime   = 3; //自动播放间隔时间(秒)

		scrollPic_02.initialize(); //初始化
							
		//--><!]]>
</SCRIPT>
						
 					
				</div>
				
			</div>
		</section>
	</div>
</div>
<!-- / content -->
	<!-- Dark Footer -->
		<div id="dark_footer_wrap">
			<div id="dark_footer">
            
$web_BottomMenu$ 
			</div>
		</div>
		<!-- // Dark Footer -->

<div class="mains">

<!-- footer -->	<footer>
$web_BottomHTML$
	</footer>
<!-- / footer -->
</div>
<div class='links' style="width:980px;margin:auto;">$web_link$</div>

<script type="text/javascript">
window.onerror=function(){return true;}
</script>

</body>
</html>
