<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=7">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>$web_title$</title>
<meta name="keywords" content="$web_keywords$" />
<meta name="description" content="$web_description$" />
<link href="/css/$web_theme$/style.css" rel="stylesheet" type="text/css" />
<link href="/css/$web_theme$/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/functions.js"></script>
<script type="text/javascript" src="/js/focusslide.js"></script>
<script type="text/javascript" src="/images/iepng/iepngfix_tilebg.js"></script>
</head>

<body>
<div id="wrapper">

<!--head start-->
<div id="head">

<!--top start -->
<div class="top">
<div class="TopInfo"><div class="link">选择语言：<a  href="javascript:zh_tran('s');" class="zh_click" id="zh_click_s">简体中文</a> | <a href="javascript:zh_tran('t');" class="zh_click" id="zh_click_t">繁體中文</a> | <a href="/English">English</a></div>
</div>
<div class="clearfix"></div>
<div class="TopLogo">
<div class="logo"><a href="/"><img src="/images/up_images/$web_image$" alt="$web_name$"></a></div>
<div class="tel">
<p class="telW">24小时客服热线</p>
<p class="telN">$web_tel$</p>
</div>
</div>

</div>
<!--top end-->

<!--nav start-->
<div id="NavLink">
<div class="NavBG">
<!--Head Menu Start-->
$web_TopMenu$
<!--Head Menu End-->
</div>
<div class="clearfix"></div>
</div>
<!--nav end-->
<!--focus start-->
<div id="FocusBG">
<div id="Focus">
<ul>
$web_TopIMGAD$</ul>
</div>
</div>
<!--foncus end-->
<div class="HeightTab clearfix"></div>

</div>
<!--head end-->
<!--body start-->
<div id="body">
<!--MainBlock start-->
<div class="MainBlock">
<!--left start-->
<div class="right">
<div class="topic">
<div class="TopicTitle"><a href="/$WebAboutFolderName$">$WebAboutName$</a></div>
<div class="TopicMore"> <a  href='/$WebAboutFolderName$'><img src="images/more.png"></a></div>
</div>
<div class='img'><a href='/$WebAboutFolderName$' target='_blank'><img src='/images/Up_Images/$WebAboutImage$' width='200' height='100' alt='$WebAboutName$'></a></div><div class='txt ColorLink'><p>
$WebAboutContent$...<a href='/$WebAboutFolderName$' target='_blank'>详细>></a></p></div>
<div class=" clearfix"></div>

</div>
<!--left end-->
<div class='WidthTab2'></div>

<!--right start-->
<div class="left">
<div class="TabBlock">
<div class="menu">
<ul>
$Block033_LeftItem_Title$
</ul>
</div>
$Block033_LeftItem$

</div>
</div>
<!--right end-->

<!--right2 start-->
<div class="right2">
<div class="topic">
<div class="TopicTitle">视频展示</div>
<div class="TopicMore"></div>
</div>
<div class='img'><script type="text/javascript">

var swf_width=235
var swf_height=180
var texts='video'
var files='$web_consult$'
var config='0:自动播放|1:连续播放|100:默认音量|0:控制栏位置|2:控制栏显示|0x000033:主体颜色|60:主体透明度|0x66ff00:光晕颜色|0xffffff:图标颜色|0xffffff:文字颜色|:logo文字|:logo地址|:结束swf地址'

document.write('<object classid=\"clsid:d27cdb6e-ae6d-11cf-96b8-444553540000\" codebase=\"http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0\" width=\"'+ swf_width +'\" height=\"'+ swf_height +'\">');
document.write('<param name=\"movie\" value=\"/vcastr2/vcastr2.swf\"><param name=\"quality\" value=\"high\">');
document.write('<param name=\"menu\" value=\"false\"><param name=wmode value=\"opaque\">');
document.write('<param name=\"FlashVars\" value=\"vcastr_file='+files+'&vcastr_title='+texts+'&vcastr_config='+config+'\">');
document.write('<embed src=\"/vcastr2/vcastr2.swf\" wmode=\"opaque\" FlashVars=\"vcastr_file='+files+'&vcastr_title='+texts+'&vcastr_config='+config+'\" menu=\"false\" quality=\"high\" width=\"'+ swf_width +'\" height=\"'+ swf_height +'\" type=\"application/x-shockwave-flash\" pluginspage=\"http://www.macromedia.com/go/getflashplayer\" />'); document.write('<\/object>'); 

</script>
</div>
<div class=" clearfix"></div>
</div>
<!--right2 end-->
<div class="clearfix"></div>

</div>
<!--MainBlock end-->

<div class="HeightTab clearfix"></div>
<!--ProductShow start-->
<DIV class="ProductShow">
<div class="topic">
<div class="TopicTitle"> $WebProductName$</div>
<div class="TopicMore"> <a  href='$WebProductFolder$'><img src="images/more.png"></a></div>
</div>
<DIV class="hjnavC">
<DIV class="hjnavleft">
<UL>
$Block03_LeftItem_Title$
  </UL>
  </DIV>
<DIV class="hjnavcn">
$Block03_LeftItem$
</DIV>
</div>
<div class="clearfix"></div>
</DIV>
<SCRIPT type="text/javascript" src="/js/h.js"></SCRIPT>
<!--ProductShow end-->
<div class="HeightTab clearfix"></div>
<!--links start-->
<div id="Links">
<span>友情链接：</span>$web_link$
  
</div>
<!--links end-->

</div>
<!--body end-->
<div class="HeightTab clearfix"></div>
<!--footer start-->
<div id="footer">
<div class="inner">
$web_BottomHTML$
</div>
</div>
<!--footer end -->


</div>
<script type="text/javascript" src="/js/TabShow.js" ></script>
<script type="text/javascript">
window.onerror=function(){return true;}
</script>
</body>
</html>
<!--
Powered By HuiguerCMS ASP M2013C   
-->






